
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Momently</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Create a memory box together just by sending a email">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic,900italic' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
	
</head>
<body>
    
    <h1>memory.ly</h1>
    <h2>test</h2>
    <div id='dz-root'></div>

    <ul id='item-list'>
        	
        	<li><img class='deezer-album' data='960466' onclick='DZ.player.playAlbum(960466); return false;' width='200' height='auto'
        		src="/images/albumart.png">
        		
        	</img></li>
    	
        	<li><img class='deezer-track'  data='77652625'  onclick='DZ.player.playTracks([77652625]); return false;'  width='200' height='auto'
        		src="/images/albumart.png">
        	</img></li>
	
    	
        	<li><img src="http://momently.nl:5000/image/5358034996ba1b4aeea346b3"></img></li>
    	
    	
    	
	
    </ul>
    <script> 
		DZ.init({
			appId  : '1363411',
			channelUrl : 'http://localhost:3000/javascript/deezer.html',
			player : {
				onload : function(){ 
					deezerAlbums = $( "#item-list .deezer-album" );
					deezerTracks = $( "#item-list .deezer-track" );
					var pullData = function(type, elem, id) {
						$.getJSON( "/art/deezer/" + type + "/" + id, { }, function( resp ) {
							elem.attr('src', resp.art);
						});
					};

					for (var i = deezerAlbums.length - 1; i >= 0; i--) {
						var elem = $(deezerAlbums[i]);
						var id = elem.attr('data');
						pullData('album', elem, id);
					};

					for (var i = deezerTracks.length - 1; i >= 0; i--) {
						var elem = $(deezerTracks[i]);
						var id = elem.attr('data');
						pullData('track', elem, id);
					};

				}
			}
		});

		function playTrack(elem, track) {
			stopPlaying();
			DZ.player.playTracks([ track ]);
		}

		function playAlbum(elem, album) {
			stopPlaying();
			DZ.player.playAlbum(album);
		}

		function stopPlaying() {

		}

    </script>
  </body>
</html>