<% layout('layout') -%>

<div id="navbar">
	<div class="container">
		<p class="sitename"><a href="/">Momently.nl</a></p>
	</div><!-- container -->
</div><!-- navbar -->

<div id="homepage">
	<div class="container">
		<p class="title wow fadeInUp">Create a new memory together</p>
		<p class="subtitle wow fadeInUp">With memorly you just simply have to mail and here comes a good text</p>
		<div class="create wow bounceInUp" data-wow-delay="0.5s">
			<form action="/create" method="post">
			<input type="text" class="name" name="memory" placeholder="yourname"><p class="adress">@momently.nl</p>
			</form>
		</div><!-- create -->
	</div><!-- container -->
</div><!-- homepage -->