<% layout('layout') -%>

    <div class="topbar">
	<div class="container">
		<div class="sixteen columns"><p class="sitename"><a href="/">Momently</a></p></div>
	</div> <!-- container -->
</div> <!-- topbar -->

<div class="welcome">
<div class="test">
	<div class="container">
	<form action="/create" method="post">
		<div class="sixteen columns centertxt margintopp">
			<p class="memorytitle">Create a memory together with all the other participants of an event</p>
			<br><br>
			<p class="memorysubtitle">Momently collects all the content of your friends simply by email. </p>
			<br><br><br><br>
			<p class="createnew">Start right now:</p>
			<br><br>
		</div>
		<div class="four columns"> .</div>
		<div class="eight columns blackbox">
			<input class="newmemory"  name="memory" type="text" placeholder="yourmemoryname"><p class="adress">@momently.nl</p>
		</div>
		<div class="sixteen columns centertxt"><button class="actionbutton" type="submit" value="Create">Create memory</button></div>
	</div> <!-- container -->
	</form>
</div><!-- test -->
</div><!-- welcome -->
