<% layout('layout') -%>

<div class="topbar">
	<div class="container">
		<div class="sixteen columns"><p class="sitename">Momently</p></div>
	</div> <!-- container -->
</div> <!-- topbar -->

<div class="success">
<div class="test">
	<div class="container">
		<div class="sixteen columns centertxt margintopp">
			<p class="memorytitle">Congratulations!</p><br><br>
			<p class="memorysubtitle">Your memory <a href='/<%= name %>'><%= name %></a> is ready for you!</p>
			<br><br><br>
		</div>
	</div> <!-- container -->
	</form>
</div><!-- test -->
</div><!-- welcome -->
