<% layout('layout') -%>

<div class="topbar">
	<div class="container">
		<div class="sixteen columns"><p class="sitename"><a href="/">Momently</p></a></div>
	</div> <!-- container -->
</div> <!-- topbar -->

<div class="success">
<div class="test">
	<div class="container">
		<div class="sixteen columns centertxt margintopp">
			<p class="memorytitle">Congratulations!</p><br><br>
			<p class="memorysubtitle">Your space <a href='/<%= name %>'><%= name %></a> is ready for you!</p><br>
			<p class="memorysubtitle">You can now send emails to <a href='mailto:<%= name %>@memorly.nl'><%= name %>@memorly.nl</a> to add things to your space</p>
			<br><br><br>
		</div>
	</div> <!-- container -->
	</form>
</div><!-- test -->
</div><!-- welcome -->
