<% layout('layout') -%>

<div id="navbar">
	<div class="container">
		<p class="sitename"><a href="/">Momently.nl</a></p>
	</div><!-- container -->
</div><!-- navbar -->

<div id="success">
	<div class="container">
	<br><br><br>
		<p class="title wow tada">We've created your memory!</p>
		<p class="subtitle wow fadeInUp" data-wow-delay="1s">Now it's time to send your first content to <a href='mailto:<%= name %>@memorly.nl'><%= name %>@memorly.nl</a></p>
		<p class="subtitle wow fadeInUp" data-wow-delay="1.5s" ><a href="/<%= name %>">View your page</a></p>
	</div><!-- container -->
</div><!-- homepage -->