/* Stylesheet of the MemoryBox
   made 23 april 2014 for TNW 
   Hack Battle.                */


 

/* All textstyles */

body{
	background-color: #f0f0f0;
	margin-bottom: 50px;
}

p{
	font-family: 'Lato', 'sans-serif';
	padding: 0px;
	margin: 0px;
}

.sitename{
	font-weight: 900;
	color: #eaeaea;
	font-size: 17pt;
	margin-top: 20px;
}

.memorytitle{
	font-weight: 900;
	font-style: italic;
	font-size: 40pt;
	color: #ffffff;
	margin-top: 70px;
}

.memorysubtitle{
	font-weight: 900;
	font-style: italic;
	font-size: 15pt;
	color: #b9b9b9;
}

.memorysubtitle a{
	color: #007eff;
}

.memorysubtitle a:hover{
	color: #005ab2;
}

.adress{
	font-weight: 900;
	color: #eaeaea;
	font-size: 25pt;
	margin-top: 10px;
}

.name{
	padding-top: 5px;
	font-size: 12pt;
	font-weight: 700;
	color: #222222;
}

.username a{
	font-size: 10pt;
	font-weight: 400;
	color: #a2a2a2;
	text-decoration: none;
}

.username a:hover{
	color: #616161;
}

.twitterprofile .name:after{
    content: url('../images/twitter.png');
    margin-left: 7px;
}

.tweet{
	margin-top: 10px;
	font-size: 14pt;
	font-weight: 300;
	font-style: italic;
}

.test{
	background-color: rgba(0,0,0,0.60);
	height: 100%;
}

.createnew{
	font-weight: 900;
	color: #ffffff;
	font-size: 25pt;
	display: inline;
}

.centertxt{
	text-align: center;
}

.newmemory{
	font-family: 'Lato', 'sans-serif';
	padding: 10px;
	background-color: white;
	border: 1px solid #878787;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 900;
	color: #232323;
	font-size: 25pt;
	display: inline;
	max-width: 300px;
	text-align: right;
}

.margintopp{
	margin-top: 100px;
}

/* Main elements */
.topbar{
	height: 70px;
	background: #1f1f1f; /* Old browsers */
	background: -moz-linear-gradient(top,  #1f1f1f 0%, #1a1a1a 22%, #050505 80%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f1f1f), color-stop(22%,#1a1a1a), color-stop(80%,#050505), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1f1f1f 0%,#1a1a1a 22%,#050505 80%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1f1f1f 0%,#1a1a1a 22%,#050505 80%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1f1f1f 0%,#1a1a1a 22%,#050505 80%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1f1f1f 0%,#1a1a1a 22%,#050505 80%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.header{
	height: 350px;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-color: black;
}

.contentspace{
	margin-top: 50px;
}

.content{
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cacaca;
	padding: 10px;
	margin-bottom: 20px;
}

.content img{
	width: 100%;
	height: auto;
	
}

.content{
	background-color: white;
}

.instagramprofile{
	margin-top: 10px;
}
.instagramprofile img{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	float: left; margin-right: 10px;
}


.twitterprofile{
	
}

.twitterprofile img{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	float: left; margin-right: 10px;
}



/* Buttons */
.topbutton{
	margin-top: 12px;
	background-color: #323232;
	padding: 15px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 400;
	font-size: 10pt;
	color: #eaeaea;
	border: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.topbutton:hover{background-color: #535353;}

.actionbutton{
	background-color: rgba(255,255,255,0.44);
	padding: 20px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 600;
	border: 1px solid #323232;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.actionbutton:hover{
	background-color: rgba(255,255,255,0.8);
}

.welcome{
	background-image: url('../images/welcomeimg.jpg');
	height: 100%;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-size: cover;
	z-index: -1;
	overflow-y: scroll;
}

/* Fixes */

.alignright{
	text-align: right;
}

button:focus {outline:0;}